# Tuple

In [1]:
tup=("data","science",1,2,3,4,True,"Argentina")

In [2]:
type(tup)

tuple

# ordered

In [3]:
tup[0]

'data'

In [4]:
l1=list(tup)

In [5]:
l1

['data', 'science', 1, 2, 3, 4, True, 'Argentina']

In [6]:
type(l1)

list

In [7]:
"data" in l1

True

In [8]:
if "data" in l1:
    print("yes")

yes

# set

In [9]:
s1={1,2,4,4,5,6,7,8,"data","science"}
s1

{1, 2, 4, 5, 6, 7, 8, 'data', 'science'}

In [10]:
s2=set(tup)

In [11]:
s1

{1, 2, 4, 5, 6, 7, 8, 'data', 'science'}

In [12]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 'Argentina', 'data', 'science'}

In [13]:
s1.add("Riad")

In [14]:
s1

{1, 2, 4, 5, 6, 7, 8, 'Riad', 'data', 'science'}

In [15]:
s1.difference(s2)

{5, 6, 7, 8, 'Riad'}

# Dictionary

In [16]:
dic={
    "name":"Riad",
    "id":1000,
    'varsity':"iiuc"
}

In [17]:
dic.keys()

dict_keys(['name', 'id', 'varsity'])

In [18]:
dic["name"]

'Riad'

In [19]:
dic.get("varsity")

'iiuc'

In [20]:
dic["age"]=30

In [21]:
dic

{'name': 'Riad', 'id': 1000, 'varsity': 'iiuc', 'age': 30}

In [22]:
del dic["id"]

In [23]:
dic

{'name': 'Riad', 'varsity': 'iiuc', 'age': 30}

# Dataframe

In [24]:
import pandas as pd

In [25]:
l1=["Data","Science","Fun"]

In [33]:
df=pd.DataFrame(l1,columns=["col"])

In [34]:
df

       col
0     Data
1  Science
2      Fun

In [42]:
# pd.DataFrame(dic,index=[0])
pd.DataFrame([dic])

   name varsity  age
0  Riad    iiuc   30