In [1]:
df=pd.read_excel(r"C:\Users\Abdur rahim nishad\Downloads\home.xlsx")

In [2]:
df.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [3]:
df

    area   rent
0   2000  31500
1   2100  35000
2   2500  41050
3   2250  36100
4   3000  52100
5   1900  32500
6   1500  20000
7   1850  24500
8   2700  48000
9   2100  31000
10  2150  34500
11  2100  32000
12  2100  34500
13  2510  40050
14  2250  34100
15  3100  51500
16  1800  30500
17  1550  21000
18  1800  25000
19  2700  47000
20  2110  31500
21  2100  33500
22  3500  70000
23  1200  20000
24  2800  50000
25  3100  53000
26  2750  48000
27  1800  25000
28  2200  31460

In [9]:
x=df["area"]

In [10]:
x.head()

0    2000
1    2100
2    2500
3    2250
4    3000
Name: area, dtype: int64

In [11]:
y=df["rent"]
y.head()

0    31500
1    35000
2    41050
3    36100
4    52100
Name: rent, dtype: int64

In [12]:
m=0
c=0
l=0.00001
n=int(len(x))
iteration=140
for i in range(iteration):
    y_prediction=m*x+c
    derivatives_m=(-2/n) * sum(x* (y-y_prediction))
    
    derivatives_c= (-2/n) * sum(y-y_prediction)
    m= m-l*derivatives_m
    c= c-l*derivatives_c
print(m,c)

-1.1782545216249885e+285 -4.9506619962954755e+281

In [ ]:
from sklearn.linear_model import SGDRegressor

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.25)

In [ ]:
xtrain.head()

In [ ]:
sgd=SGDRegressor()

In [ ]:
sgd.fit(xtrain,ytrain)

In [ ]:
sgd.coef_

In [ ]:
sgd.intercept_

In [ ]:
2000*(-2.92)+1.243

In [ ]:
sgd.predict([[2000]])